.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button{
  font-family: 'orbitron';
}

.calcApp{justify-content: center;
display: flex;}